<% unless current_user == user %>
  <div>
  <% if @follow_relationsihp %>
    <%= render partial: 'unfollow', locals: { user: user } %>
  <% else %>
    <%= render partial: 'follow', locals: { user: user } %>
  <% end %>
  </div>
<% end %>
