<% unless current_user == user %>
  <div>
    <%= render partial: 'unfollow', locals: { user: user } %>
  <% if @follow_relationsihp.new_record? %>
  <% else %>
    <%= render partial: 'follow', locals: { user: user } %>
  <% end %>
  </div>
<% end %>
